/* your code */
table{
	border-collapse: collapse;
}
table,tr,th,td{
	border: 02px solid black;
}
thead{
	background-color: darkblue;
	color: white
}
table {
    width: 100%;
}

th {
    height: 50px;
}